*.class
*.log
*.bak
.*.swp

# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea
out

# Eclipse
bin/
.classpath
.project
.cproject
.settings
.cache-main

#User
/*.vhd
/*.v
*.cf
*.json
*.vcd
*.fst*
!tester/src/test/resources/*.vhd
obj_dir
*.logTrace
*.yaml
*.memTrace
*.regTrace
*.debugTrace
*.tcl
*.o
*.bin
explor

simWorkspace/
tmp/
/archive.tar.gz
*.out32

.bloop/
.metals/
project/
# murax build files
scripts/Murax/*arty_a7/build/
scripts/Murax/*arty_a7/*.jou
scripts/Murax/*arty_a7/*.str
scripts/Murax/*arty_a7/*project/
# instruction test
src/test/cpp/custom/simd*
src/test/cpp/custom/LowBytes/build/src/
src/test/cpp/custom/LowNibbles/build/src/
src/test/cpp/custom/LowCrumbs/build/src/
src/test/cpp/custom/LowHalfWords/build/src/
src/test/cpp/custom/LowConcat/build/src/
# hex and elf files
src/main/c/murax/hello_world/build/
# low bytes test
trashbin/